<div class="row">
<div class="col col-sm-3"></div>
<div class="col col-sm-6"  *ngIf="showDetails">
    <div class="card mb-3">
      <div class="card-header" >
        Batch Data
      </div>
      <div class="card-block table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>TYPE</th>
              <th>COUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>persons</td>
              <td>{{curBatch.persons}}</td>
            </tr>
            <tr>
              <td>adults</td>
              <td>{{curBatch.adults}}</td>
            </tr>
            <tr>
              <td>kids</td>
              <td>{{curBatch.kids}}</td>
            </tr>
            <tr>
              <td>kindergarten</td>
              <td>{{curBatch.kindergarten}}</td>
            </tr>
            <tr>
              <td>elementary</td>
              <td>{{curBatch.elementary}}</td>
            </tr>
            <tr>
              <td>high</td>
              <td>{{curBatch.high}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="card-block">
        <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>