<div class="body"> 
<div class="form-style-2">
    <div class="form-style-2-heading">batch statistics</div>
    <form action="" method="post">
        <label for="persons"><span>persons:</span><input type="text" class="input-field" name="persons" value="{{curBatch.persons}}" /></label>
        <label for="adults"><span>adults:</span><input type="text" class="input-field" name="adults" value="{{curBatch.adults}}" /></label>
        <label for="kids"><span>kids:</span><input type="text" class="input-field" name="kids" value="{{curBatch.kids}}" /></label>
        <label for="kindergarten"><span>kindergarten:</span><input type="text" class="input-field" name="kindergarten" value="{{curBatch.kindergarten}}" /></label>
        <label for="elementary"><span>elementary:</span><input type="text" class="input-field" name="elementary" value="{{curBatch.elementary}}" /></label>
        <label for="high"><span>high:</span><input type="text" class="input-field" name="high" value="{{curBatch.high}}" /></label>


    </form>
</div>
</div>
<footer>
    <div class="body"> 
    </div>
</footer>